/*==========================================================
    Project Name: Awesome carousel style one
    Created By: Noor alam
    Author uri: https://themeforest.net/user/noor-alam
    Author Description: I am available for freelancing job
    Website: http://awesomebootstrap.net
    Version: 1.0
============================================================*/
/*Default css*/


html {
    font-family: 'Poppins', sans-serif;
}

html,


::-moz-selection {
   
    text-shadow: none;
	color:#fff;
}
::selection {

    text-shadow: none;
	
}


img {
	max-width:100%;
    height:auto;
}


hr.line {
	background: #f5f5f5 none repeat scroll 0 0;
	border: 0 none;
	height: 1px;
	margin: 0 auto;
	width: 100px;
}
.center-me{
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.clear{
	clear:both
}

input::-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:focus,
textarea:focus {
	outline: 0px;
}
/*==========
 Link style
============== */
a {
  
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	line-height: 1;
}
a,a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none;
}
a:hover,
a:focus,
a:active,
a.active {
  
}
i{}
/*============
 Transition
=============== */
a,
i,
.navbar a,
.form-control {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
/*============ 
[ 2. Typography ]
==========================*/
p{
	font-family: 'Poppins', sans-serif;
	color: #ededed;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 0 15px;
  text-transform: uppercase;
}
h1 {
    font-size: 40px;
	font-weight: 700;
}
h2 {
    font-size: 32px;
	font-weight: 700;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 13px;
}
/*End default css*/
/*Carousel fade effect style*/
.carousel-fade .carousel-inner .item {
            transition-property: opacity;
        }
.carousel-fade .item,
.carousel-fade .active.left,
.carousel-fade .active.right {
            opacity: 1;
        }

.carousel-fade .active,
.carousel-fade .next.left,
.carousel-fade .prev.right {
            opacity: 1;
        }

.carousel-fade .next,
.carousel-fade .prev,
.carousel-fade .active.left,
.carousel-fade .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
.carousel-fade .carousel-control {
        z-index: 2;
    }




/*--------------------------------
[ Awesome carousel resturent style  ]
-----------------------------------*/

#awesome_car2 img.bg-img {
  background-position: center center;
  background-size: cover;
  min-height: 600px;
  width: 100%;
}

.overlay {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.item {
    position: relative;
}
.posi-abs{ 
    position:absolute;
    z-index: -1;
}
/*Resturent Carousel style start*/
.item .carousel-caption {
  text-align: center;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.cap-text {
  position: absolute;
  top: 52%;
  width: 100%;
}
.cap-img1 {
  position: absolute;
  right: 5%;
  top: 10%;
}
.cap-img2 {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.cap-img3 {
  left: 4%;
  position: absolute;
  top: 4%;
  width: 23%;
}
.cap-img4 {
  bottom: 2%;
  left: 2%;
  position: absolute;
  width: 28%;
}
.cap-img5 {
  bottom: 2%;
  position: absolute;
  right: 5%;
  z-index: -1;
}

.carousel-inner .item .carousel-caption{ 
    display:none;
}
.carousel-inner .item.active .carousel-caption{ 
    display:block
}
.carousel-inner .item.active .carousel-caption .cap-img1 {
    -webkit-animation: bounceInDown 800ms ease-in-out;
    animation: bounceInDown 800ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .cap-img2 {
    -webkit-animation: zoomInRight 1500ms ease-in-out;
    animation: zoomInRight 1500ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .cap-img3{
    -webkit-animation: zoomInLeft 2500ms ease-in-out;
    animation: zoomInLeft 2500ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .cap-img4{
    -webkit-animation: fadeInLeftBig 3000ms ease-in-out;
    animation: fadeInLeftBig 3000ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .cap-img5{
    -webkit-animation: zoomInRight 4000ms ease-in-out;
    animation: zoomInRight 4000ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .cap-text{
    -webkit-animation: flipInX 2000ms ease-in-out;
    animation: flipInX 2000ms ease-in-out;
}
/*slider two*/

.kit1 {
    right: 3%;
    top: 2%;
}
.kit2 {
    right: 24%;
    top: 0;
}
.kit3 {
    right: 43%;
    top: 0;
}
.kit4 {
    left: 24%;
    top: 0;
}
.kit5 {
    left: 5%;
    top: 0;
}
.kit6 {
    right: 10%;
    top: 34%;
}
.kit7 {
    right: 26%;
    top: 35%;
}
.kit8 {
    right: 48%;
    top: 36%;
}
.kit9 {
    left: 25%;
    top: 40%;
}
.kit10 {
    left: 2%;
    top: 40%;
}
.kit11 {
    bottom: 0;
    left: 5%;
}
.kit12 {
    bottom: 0;
    right: 4%;
}
.kit13 {
    bottom: 0;
    width: 100%;
}
.carousel-inner .item.active .carousel-caption .kit1 {
    -webkit-animation: bounceInDown 400ms ease-in-out;
    animation: bounceInDown 400ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit2 {
    -webkit-animation: zoomInRight 500ms ease-in-out;
    animation: zoomInRight 500ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit10 {
    -webkit-animation: bounceInDown 800ms ease-in-out;
    animation: bounceInDown 800ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit9 {
    -webkit-animation: bounceInDown 1000ms ease-in-out;
    animation: bounceInDown 1000ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit4 {
    -webkit-animation: bounceInDown 1300ms ease-in-out;
    animation: bounceInDown 1300ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit13 {
    -webkit-animation: bounceInDown 1600ms ease-in-out;
    animation: bounceInDown 1600ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit3 {
    -webkit-animation: zoomInRight 1800ms ease-in-out;
    animation: zoomInRight 1800ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit6 {
    -webkit-animation: bounceInDown 2000ms ease-in-out;
    animation: bounceInDown 2000ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit11 {
    -webkit-animation: bounceInDown 2300ms ease-in-out;
    animation: bounceInDown 2300ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit8 {
    -webkit-animation: bounceInDown 2500ms ease-in-out;
    animation: bounceInDown 2500ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit12 {
    -webkit-animation: zoomInRight 2800ms ease-in-out;
    animation: zoomInRight 2800ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit5 {
    -webkit-animation: bounceInDown 1000ms ease-in-out;
    animation: bounceInDown 3200ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .kit7 {
    -webkit-animation: bounceInDown 1000ms ease-in-out;
    animation: bounceInDown 3200ms ease-in-out;
}

/*slider three*/
.carousel-inner .item .zoom-img {
  transform: scale(1);
  transition: all 4s ease 0s;
}
.carousel-inner .item.active .zoom-img {
  transform: scale(1.2);
}

/*Carousel animation style end*/

/*Slider responsive code*/

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

.cap-img5 {
  width:50%
}


}